.main {
    display:grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    gap:10px;
}
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j {
    width: 100px;
    height: 100px;
    background-color: red;
}
